services:
  mqtt:
    image: eclipse-mosquitto
    ports:
      - "1883:1883"
    volumes:
      - ./mqtt/mosquitto.conf:/mosquitto/config/mosquitto.conf

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    depends_on:
      - mqtt

  dashboard:
    build: ./dashboard
    ports:
      - "3000:3000"
    depends_on:
      - backend

  nodered:
    image: nodered/node-red:latest
    ports:
      - "1880:1880"
    volumes:
      - nodered_data:/data
    depends_on:
      - mqtt

volumes:
  nodered_data:
